In [1]:
#Load Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker 
import folium 
import seaborn as sns 
import pycountry_convert as pyc

In [2]:
#Read in dataset by countries 
covid19_country = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")

covid19_country

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-01 22:04:58,-25.000000,133.000000,4862,20,422,4420
1,Austria,2020-04-01 21:58:34,47.516200,14.550100,10711,146,1436,9129
2,Canada,2020-04-01 22:04:44,60.001000,-95.001000,9560,109,1324,0
3,China,2020-04-01 14:00:34,30.592800,114.305500,82361,3316,76405,2640
4,Denmark,2020-04-01 21:58:34,56.000000,10.000000,3290,104,971,2215
5,Finland,2020-04-01 21:58:34,61.924100,25.748200,1446,17,10,1419
6,France,2020-04-01 21:58:34,46.227600,2.213700,57749,4043,11053,42653
7,Germany,2020-04-01 21:58:34,51.165700,10.451500,77872,920,18700,58252
8,Iceland,2020-04-01 21:58:34,64.963100,-19.020800,1220,2,225,993
9,Ireland,2020-04-01 21:58:34,53.142400,-7.692100,3447,85,5,3357
10,Italy,2020-04-01 21:58:34,41.871900,12.567400,110574,13155,16847,80572
11,Netherlands,2020-04-01 21:58:34,52.316700,5.550000,13696,1175,260,12261
12,Norway,2020-04-01 21:58:34,60.472000,8.468900,4863,44,13,4806
13,Russia,2020-04-01 21:58:34,61.524000,105.318800,2777,24,190,2563
14,Sweden,2020-04-01 21:58:34,60.128200,18.643500,4947,239,103,4605
15,Switzerland,2020-04-01 21:58:34,46.818200,8.227500,17768,488,2967,14313
16,United Kingdom,2020-04-01 21:58:34,55.000000,-3.000000,29865,2357,179,27329
17,US,2020-04-01 21:58:49,40.000000,-100.000000,213372,4757,8474,0
18,Afghanistan,2020-04-01 21:58:34,33.939110,67.709953,237,4,5,228
19,Albania,2020-04-01 21:58:34,41.153300,20.168300,259,15,67,177
20,Algeria,2020-04-01 21:58:34,28.033900,1.659600,847,58,61,728
21,Andorra,2020-04-01 21:58:34,42.506300,1.521800,390,14,10,366
22,Angola,2020-04-01 21:58:34,-11.202700,17.873900,8,2,1,5
23,Antigua and Barbuda,2020-04-01 21:58:34,17.060800,-61.796400,7,0,0,7
24,Argentina,2020-04-01 21:58:34,-38.416100,-63.616700,1054,28,248,778
25,Armenia,2020-04-01 21:58:34,40.069100,45.038200,571,4,31,536
26,Azerbaijan,2020-04-01 21:58:34,40.143100,47.576900,359,5,26,328
27,Bahamas,2020-04-01 21:58:34,25.025885,-78.035889,21,1,1,19
28,Bahrain,2020-04-01 21:58:34,26.027500,50.550000,569,4,337,228
29,Bangladesh,2020-04-01 21:58:34,23.685000,90.356300,54,6,25,23
...,...,...,...,...,...,...,...,...
150,Seychelles,2020-04-01 21:58:34,-4.679600,55.492000,10,0,0,10
151,Sierra Leone,2020-04-01 21:58:34,8.460555,-11.779889,2,0,0,2
152,Singapore,2020-04-01 21:58:34,1.283300,103.833300,1000,3,245,752
153,Slovakia,2020-04-01 21:58:34,48.669000,19.699000,400,1,3,396
154,Slovenia,2020-04-01 21:58:34,46.151200,14.995500,841,15,10,816
155,Somalia,2020-04-01 21:58:34,5.152149,46.199616,5,0,1,4
156,South Africa,2020-04-01 21:58:34,-30.559500,22.937500,1380,5,50,1325
157,Spain,2020-04-01 21:58:34,40.463667,-3.749220,104118,9387,22647,72084
158,Sri Lanka,2020-04-01 21:58:34,7.873054,80.771797,146,3,21,122
159,Sudan,2020-04-01 21:58:34,12.862800,30.217600,7,2,2,3
160,Suriname,2020-04-01 21:58:34,3.919300,-56.027800,10,0,0,10
161,Syria,2020-04-01 21:58:34,34.802075,38.996815,10,2,0,8
162,Taiwan*,2020-04-01 10:56:33,23.700000,121.000000,329,5,39,285
163,Tanzania,2020-04-01 21:58:34,-6.369028,34.888822,20,1,1,18
164,Thailand,2020-04-01 21:58:34,15.870032,100.992541,1771,12,505,1254
165,Timor-Leste,2020-04-01 21:58:34,-8.874217,125.727539,1,0,0,1
166,Togo,2020-04-01 21:58:34,8.619500,0.824800,36,2,10,24
167,Trinidad and Tobago,2020-04-01 21:58:34,10.691800,-61.222500,90,5,1,84
168,Tunisia,2020-04-01 21:58:34,33.886917,9.537499,423,12,5,406
169,Turkey,2020-04-01 21:58:34,38.963700,35.243300,15679,277,333,15069
170,Uganda,2020-04-01 21:58:34,1.373333,32.290275,44,0,0,44
171,Ukraine,2020-04-01 21:58:34,48.379400,31.165600,794,20,13,761
172,United Arab Emirates,2020-04-01 21:58:34,23.424076,53.847818,814,8,61,745
173,Uruguay,2020-04-01 21:58:34,-32.522800,-55.765800,338,2,41,295
174,Uzbekistan,2020-04-01 21:58:34,41.377491,64.585262,181,2,12,167
175,Venezuela,2020-04-01 21:58:34,6.423800,-66.589700,143,3,41,99
176,Vietnam,2020-04-01 21:58:34,14.058324,108.277199,218,0,63,155
177,West Bank and Gaza,2020-04-01 21:58:34,31.952200,35.233200,134,1,18,115
178,Zambia,2020-04-01 21:58:34,-13.133897,27.849332,36,0,0,36
179,Zimbabwe,2020-04-01 21:58:34,-19.015438,29.154857,8,1,0,7

In [3]:
covid19_country.dtypes

Country_Region     object
Last_Update        object
Lat               float64
Long_             float64
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
dtype: object

In [4]:
#Read the data files 

confirmed_df = pd.read_csv('Resources/time_series_covid19_confirmed_global.csv')
death_df = pd.read_csv('Resources/time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('Resources/time_series_covid19_recovered_global.csv')

#Examine the head of each file 
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,40,40,74,84,94,110,110,120,170,174
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,89,104,123,146,174,186,197,212,223,243
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,201,230,264,302,367,409,454,511,584,716
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,113,133,164,188,224,267,308,334,370,376
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,3,3,3,4,4,5,7,7,7

In [5]:
death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2

In [6]:
recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,2,5
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,10,17,17,31,31,33,44,52
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,65,65,24,65,29,29,31,31,37,46
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,10,10
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
confirmed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 74 columns):
Province/State    79 non-null object
Country/Region    256 non-null object
Lat               256 non-null float64
Long              256 non-null float64
1/22/20           256 non-null int64
1/23/20           256 non-null int64
1/24/20           256 non-null int64
1/25/20           256 non-null int64
1/26/20           256 non-null int64
1/27/20           256 non-null int64
1/28/20           256 non-null int64
1/29/20           256 non-null int64
1/30/20           256 non-null int64
1/31/20           256 non-null int64
2/1/20            256 non-null int64
2/2/20            256 non-null int64
2/3/20            256 non-null int64
2/4/20            256 non-null int64
2/5/20            256 non-null int64
2/6/20            256 non-null int64
2/7/20            256 non-null int64
2/8/20            256 non-null int64
2/9/20            256 non-null int64
2/10/20           256 non-null int64
2/11/20           256 non-null int64
2/12/20           256 non-null int64
2/13/20           256 non-null int64
2/14/20           256 non-null int64
2/15/20           256 non-null int64
2/16/20           256 non-null int64
2/17/20           256 non-null int64
2/18/20           256 non-null int64
2/19/20           256 non-null int64
2/20/20           256 non-null int64
2/21/20           256 non-null int64
2/22/20           256 non-null int64
2/23/20           256 non-null int64
2/24/20           256 non-null int64
2/25/20           256 non-null int64
2/26/20           256 non-null int64
2/27/20           256 non-null int64
2/28/20           256 non-null int64
2/29/20           256 non-null int64
3/1/20            256 non-null int64
3/2/20            256 non-null int64
3/3/20            256 non-null int64
3/4/20            256 non-null int64
3/5/20            256 non-null int64
3/6/20            256 non-null int64
3/7/20            256 non-null int64
3/8/20            256 non-null int64
3/9/20            256 non-null int64
3/10/20           256 non-null int64
3/11/20           256 non-null int64
3/12/20           256 non-null int64
3/13/20           256 non-null int64
3/14/20           256 non-null int64
3/15/20           256 non-null int64
3/16/20           256 non-null int64
3/17/20           256 non-null int64
3/18/20           256 non-null int64
3/19/20           256 non-null int64
3/20/20           256 non-null int64
3/21/20           256 non-null int64
3/22/20           256 non-null int64
3/23/20           256 non-null int64
3/24/20           256 non-null int64
3/25/20           256 non-null int64
3/26/20           256 non-null int64
3/27/20           256 non-null int64
3/28/20           256 non-null int64
3/29/20           256 non-null int64
3/30/20           256 non-null int64
3/31/20           256 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 148.1+ KB

In [8]:
death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 74 columns):
Province/State    79 non-null object
Country/Region    256 non-null object
Lat               256 non-null float64
Long              256 non-null float64
1/22/20           256 non-null int64
1/23/20           256 non-null int64
1/24/20           256 non-null int64
1/25/20           256 non-null int64
1/26/20           256 non-null int64
1/27/20           256 non-null int64
1/28/20           256 non-null int64
1/29/20           256 non-null int64
1/30/20           256 non-null int64
1/31/20           256 non-null int64
2/1/20            256 non-null int64
2/2/20            256 non-null int64
2/3/20            256 non-null int64
2/4/20            256 non-null int64
2/5/20            256 non-null int64
2/6/20            256 non-null int64
2/7/20            256 non-null int64
2/8/20            256 non-null int64
2/9/20            256 non-null int64
2/10/20           256 non-null int64
2/11/20           256 non-null int64
2/12/20           256 non-null int64
2/13/20           256 non-null int64
2/14/20           256 non-null int64
2/15/20           256 non-null int64
2/16/20           256 non-null int64
2/17/20           256 non-null int64
2/18/20           256 non-null int64
2/19/20           256 non-null int64
2/20/20           256 non-null int64
2/21/20           256 non-null int64
2/22/20           256 non-null int64
2/23/20           256 non-null int64
2/24/20           256 non-null int64
2/25/20           256 non-null int64
2/26/20           256 non-null int64
2/27/20           256 non-null int64
2/28/20           256 non-null int64
2/29/20           256 non-null int64
3/1/20            256 non-null int64
3/2/20            256 non-null int64
3/3/20            256 non-null int64
3/4/20            256 non-null int64
3/5/20            256 non-null int64
3/6/20            256 non-null int64
3/7/20            256 non-null int64
3/8/20            256 non-null int64
3/9/20            256 non-null int64
3/10/20           256 non-null int64
3/11/20           256 non-null int64
3/12/20           256 non-null int64
3/13/20           256 non-null int64
3/14/20           256 non-null int64
3/15/20           256 non-null int64
3/16/20           256 non-null int64
3/17/20           256 non-null int64
3/18/20           256 non-null int64
3/19/20           256 non-null int64
3/20/20           256 non-null int64
3/21/20           256 non-null int64
3/22/20           256 non-null int64
3/23/20           256 non-null int64
3/24/20           256 non-null int64
3/25/20           256 non-null int64
3/26/20           256 non-null int64
3/27/20           256 non-null int64
3/28/20           256 non-null int64
3/29/20           256 non-null int64
3/30/20           256 non-null int64
3/31/20           256 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 148.1+ KB

In [9]:
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 74 columns):
Province/State    64 non-null object
Country/Region    242 non-null object
Lat               242 non-null float64
Long              242 non-null float64
1/22/20           242 non-null int64
1/23/20           242 non-null int64
1/24/20           242 non-null int64
1/25/20           242 non-null int64
1/26/20           242 non-null int64
1/27/20           242 non-null int64
1/28/20           242 non-null int64
1/29/20           242 non-null int64
1/30/20           242 non-null int64
1/31/20           242 non-null int64
2/1/20            242 non-null int64
2/2/20            242 non-null int64
2/3/20            242 non-null int64
2/4/20            242 non-null int64
2/5/20            242 non-null int64
2/6/20            242 non-null int64
2/7/20            242 non-null int64
2/8/20            242 non-null int64
2/9/20            242 non-null int64
2/10/20           242 non-null int64
2/11/20           242 non-null int64
2/12/20           242 non-null int64
2/13/20           242 non-null int64
2/14/20           242 non-null int64
2/15/20           242 non-null int64
2/16/20           242 non-null int64
2/17/20           242 non-null int64
2/18/20           242 non-null int64
2/19/20           242 non-null int64
2/20/20           242 non-null int64
2/21/20           242 non-null int64
2/22/20           242 non-null int64
2/23/20           242 non-null int64
2/24/20           242 non-null int64
2/25/20           242 non-null int64
2/26/20           242 non-null int64
2/27/20           242 non-null int64
2/28/20           242 non-null int64
2/29/20           242 non-null int64
3/1/20            242 non-null int64
3/2/20            242 non-null int64
3/3/20            242 non-null int64
3/4/20            242 non-null int64
3/5/20            242 non-null int64
3/6/20            242 non-null int64
3/7/20            242 non-null int64
3/8/20            242 non-null int64
3/9/20            242 non-null int64
3/10/20           242 non-null int64
3/11/20           242 non-null int64
3/12/20           242 non-null int64
3/13/20           242 non-null int64
3/14/20           242 non-null int64
3/15/20           242 non-null int64
3/16/20           242 non-null int64
3/17/20           242 non-null int64
3/18/20           242 non-null int64
3/19/20           242 non-null int64
3/20/20           242 non-null int64
3/21/20           242 non-null int64
3/22/20           242 non-null int64
3/23/20           242 non-null int64
3/24/20           242 non-null int64
3/25/20           242 non-null int64
3/26/20           242 non-null int64
3/27/20           242 non-null int64
3/28/20           242 non-null int64
3/29/20           242 non-null int64
3/30/20           242 non-null int64
3/31/20           242 non-null int64
dtypes: float64(2), int64(70), object(2)
memory usage: 140.0+ KB

# Data Preprocessing

In [10]:
# Let rename the columns for consistency
confirmed_df = confirmed_df.rename(columns={'Province/State': 'State',
                                            'Country/Region': 'Country'})
death_df = death_df.rename(columns={'Province/State': 'State',
                                            'Country/Region': 'Country'})

covid19_country = covid19_country.rename(columns={'Country_Region': 'Country'})

In [11]:
#Some values were not calculated in the Active column

covid19_country['Active'] = covid19_country['Confirmed'] - covid19_country['Deaths']- covid19_country['Recovered']
covid19_country.head()

,Country,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-01 22:04:58,-25.0000,133.0000,4862,20,422,4420
1,Austria,2020-04-01 21:58:34,47.5162,14.5501,10711,146,1436,9129
2,Canada,2020-04-01 22:04:44,60.0010,-95.0010,9560,109,1324,8127
3,China,2020-04-01 14:00:34,30.5928,114.3055,82361,3316,76405,2640
4,Denmark,2020-04-01 21:58:34,56.0000,10.0000,3290,104,971,2215

In [12]:
#Examined the data to find inconsistencies in several country names. Need to modify fit the documentation https://pypi.org/project/pycountry/ 
#Change US to USA 
confirmed_df.loc[confirmed_df['Country'] == 'US', 'Country'] = 'USA'
death_df.loc[death_df['Country'] == 'US', 'Country'] = 'USA'
covid19_country.loc[covid19_country['Country'] == 'US', 'Country'] = 'USA'

#Congo (Brazzaville) to Democratic Republic of Congo 
confirmed_df.loc[confirmed_df['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'
death_df.loc[death_df['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'
covid19_country.loc[covid19_country['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Democratic Republic of Congo'

#Congo (Kinshasa) to Democratice Republic of Congo 
confirmed_df.loc[confirmed_df['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'
death_df.loc[death_df['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'
covid19_country.loc[covid19_country['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of Congo'


#Change Korea, South to South Korea 
confirmed_df.loc[confirmed_df['Country'] == 'Korea, South', 'Country'] = 'South Korea'
death_df.loc[death_df['Country'] == 'Korea, South', 'Country'] = 'South Korea'
covid19_country.loc[covid19_country['Country'] == 'Korea, South', 'Country'] = 'South Korea'

#Remove the asterick from Taiwan* 
confirmed_df.loc[confirmed_df['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
death_df.loc[death_df['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'
covid19_country.loc[covid19_country['Country'] == 'Taiwan*', 'Country'] = 'Taiwan'

In [13]:
#Double Check to ensure changes 
death_df.loc[death_df['Country'] == 'USA']

,State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
225,NaN,USA,37.0902,-95.7129,0,0,0,0,0,0,...,417,557,706,942,1209,1581,2026,2467,2978,3873

In [14]:
#Double Check to ensure changes 
death_df.loc[death_df['Country'] == 'Taiwan']

,State,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
207,NaN,Taiwan,23.7,121.0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,5,5

In [15]:
#pycountry provides the ISO databases for the standards countries 
confirmed_countries = np.asarray(confirmed_df['Country'])
death_countries = np.asarray(death_df['Country'])
global_countries = np.asarray(covid19_country['Country'])

#Match the continent code to the names 
continents = {
    'NA' :'North America',
    'SA':'South America',
    'AS': 'Asia',
    'OC':'Australia',
    'EU': 'Europe',
    'AF':'Africa',
    'NA': 'Others'
}

In [16]:
#Define a function to get the code for each country 
def country_to_continent(country):
    try:
        return pyc.country_alpha2_to_continent_code(pyc.country_name_to_country_alpha2(country))
    except:
        return 'NA'

In [17]:
# Collecting Continent Information

confirmed_df.insert(2,"Continent", [continents[country_to_continent(country)] for country in confirmed_countries[:]])
death_df.insert(2,"Continent",  [continents[country_to_continent(country)] for country in death_countries[:]])
covid19_country.insert(1,"Continent",  [continents[country_to_continent(country)] for country in global_countries[:]])

In [18]:
#Let check how many countries fall under the Others category 

death_df[death_df['Continent'] == 'Others']

,State,Country,Continent,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
5,NaN,Antigua and Barbuda,Others,17.060800,-61.796400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,Bahamas,Others,25.034300,-77.396300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,Barbados,Others,13.193900,-59.543200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,Alberta,Canada,Others,53.933300,-116.576500,0,0,0,0,0,...,1,1,1,2,2,2,2,2,3,8
36,British Columbia,Canada,Others,49.282700,-123.120700,0,0,0,0,0,...,10,13,13,13,14,14,17,17,19,24
37,Grand Princess,Canada,Others,37.648900,-122.665500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Manitoba,Canada,Others,53.760900,-98.813900,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
39,New Brunswick,Canada,Others,46.565300,-66.461900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,Newfoundland and Labrador,Canada,Others,53.135500,-57.660400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
41,Nova Scotia,Canada,Others,44.682000,-63.744300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Ontario,Canada,Others,51.253800,-85.323200,0,0,0,0,0,...,5,6,7,8,13,18,18,21,31,33
43,Prince Edward Island,Canada,Others,46.510700,-63.416800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Quebec,Canada,Others,52.939900,-73.549100,0,0,0,0,0,...,4,4,4,6,8,18,22,22,22,31
45,Saskatchewan,Canada,Others,52.939900,-106.450900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
83,NaN,Democratic Republic of Congo,Others,-4.038300,21.758700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,NaN,Democratic Republic of Congo,Others,-4.038300,21.758700,0,0,0,0,0,...,1,1,2,2,3,3,6,6,8,8
85,NaN,Costa Rica,Others,9.748900,-83.753400,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
86,NaN,Cote d'Ivoire,Others,7.540000,-5.547100,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
88,NaN,Diamond Princess,Others,0.000000,0.000000,0,0,0,0,0,...,8,8,10,10,10,10,10,10,10,10
89,NaN,Cuba,Others,22.000000,-80.000000,0,0,0,0,0,...,1,1,1,1,2,2,3,3,4,6
96,NaN,Dominican Republic,Others,18.735700,-70.162700,0,0,0,0,0,...,3,3,6,10,10,20,28,39,42,51
99,NaN,El Salvador,Others,13.794200,-88.896500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
123,NaN,Guatemala,Others,15.783500,-90.230800,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
126,NaN,Haiti,Others,18.971200,-72.285200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,NaN,Holy See,Others,41.902900,12.453400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128,NaN,Honduras,Others,15.200000,-86.241900,0,0,0,0,0,...,0,0,0,0,1,1,1,3,7,7
138,NaN,Jamaica,Others,18.109600,-77.297500,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
158,NaN,Mexico,Others,23.634500,-102.552800,0,0,0,0,0,...,2,3,4,5,6,8,12,16,20,28
171,NaN,Nicaragua,Others,12.865400,-85.207200,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
178,NaN,Panama,Others,8.538000,-80.782100,0,0,0,0,0,...,3,6,6,8,8,9,14,17,24,30
189,NaN,Saint Lucia,Others,13.909400,-60.978900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,NaN,Saint Vincent and the Grenadines,Others,12.984300,-61.287200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
211,NaN,Trinidad and Tobago,Others,10.691800,-61.222500,0,0,0,0,0,...,0,0,0,1,1,2,3,3,3,3
225,NaN,USA,Others,37.090200,-95.712900,0,0,0,0,0,...,417,557,706,942,1209,1581,2026,2467,2978,3873
231,Diamond Princess,Canada,Others,0.000000,0.000000,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
232,NaN,Dominica,Others,15.415000,-61.371000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
233,NaN,Grenada,Others,12.116500,-61.679000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,NaN,Timor-Leste,Others,-8.874217,125.727539,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,NaN,Belize,Others,13.193900,-59.543200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,Recovered,Canada,Others,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,West Bank and Gaza,Others,31.952200,35.233200,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
244,NaN,Saint Kitts and Nevis,Others,17.357822,-62.782998,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
245,Northwest Territories,Canada,Others,64.825500,-124.845700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246,Yukon,Canada,Others,64.282300,-135.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
247,NaN,Kosovo,Others,42.602636,20.902977,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
248,NaN,Burma,Others,21.916200,95.956000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252,NaN,MS Zaandam,Others,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0